
    .row {
      display: flex;
      justify-content: center; /* Centra la riga */
    }
  
    .col-md-4 {
      margin-right: 0 !important; /* Rimuove il margine destro */
      margin-left: 0 !important; /* Rimuove il margine sinistro */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; /* Garantisce che gli elementi dentro siano ben distribuiti */
    }
  
    .team-photo-small {
      width: 190px; /* Imposta una larghezza fissa per tutte le immagini */
      height: 190px; /* Imposta un'altezza fissa per tutte le immagini */
      object-fit: cover; /* Mantiene la qualità dell'immagine senza deformarla */
      margin-bottom: 15px;
    }
  
    .col-md-4:not(:last-child) {
      padding-right: 10px; /* Riduce la distanza tra le colonne */
    }
  
    .col-md-4:not(:first-child) {
      padding-left: 10px; /* Riduce la distanza tra le colonne */
    }
  
